.wrapper {
  position: absolute;
  top: 0;
  padding: 20px 50px;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 3;
  background: var(--bgcolor);
  transition: var(--permanentAnimation);
}

.overlayHidden {
  visibility: hidden;
  background: transparent;
  transition: all 0.7s ease-in-out;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: transparent;
  overflow: hidden;
  z-index: 9;
}

.menuHidden ul a {
  transition: var(--permanentAnimation);
  transition-delay: 1s;
  transform: rotateX(90deg);
  visibility: hidden;
}

.menuHidden {
  z-index: -1;
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.menu li {
  list-style-type: none;
  padding-bottom: 100px;
}

.menu li:nth-child(2n) {
  padding-top: 50px;
}

.menu li:nth-child(3n) {
  padding-top: 100px;
}

.menu li a {
  padding: 20px;
  box-sizing: border-box;
  width: 320px;
  height: 180px;
  display: block;
  border: 3px solid var(--invertedBorder);
  text-decoration: none;
  color: var(--mainTextColor);
  position: relative;
  transition: var(--permanentAnimation);
  background: var(--bgcolor);
}

.menu li a:hover {
  visibility: visible;
  transform: translateY(-5px);
  border: 3px solid var(--mainContextColor);
  transition: var(--permanentAnimation);
}

.menu li a h2 {
  position: absolute;
  top: 10px;
  left: 10px;
  transform: rotate(-10deg);
}

.menu li a p {
  padding-left: 60px;
  padding-top: 30px;
  color: var(--mainTextColor);
}
.contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 10;
  bottom: 10%;
  gap: 20px;
  transition: var(--permanentAnimation);
}

.contacts div {
  display: flex;
  gap: 10px;
}

.contacts h2 {
  color: var(--mainTextColor);
}

.contactsHidden {
  transition: var(--permanentAnimation);
  transform: rotateX(90deg);
}

.contacts div a svg path {
  transition: var(--permanentAnimation);
}

.contacts div a:hover svg path {
  fill: var(--mainContextColor);
}

.menuBtn {
  position: fixed;
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  z-index: 1000;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: var(--permanentAnimation);
}

.menuBtn span {
  align-self: center;
  justify-self: center;
  display: block;
  width: 8px;
  height: 8px;
  background: white;
  transition: var(--permanentAnimation);
}

.menuBtn:hover span {
  background: var(--mainContextColor);
}

.menuBtnClose {
  transform: rotateZ(45deg);
  gap: 0;
}

.menuBtnClose .transparent {
  background: transparent;
}

.menuBtnClose:hover .transparent {
  background: transparent;
}
