.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  padding: 20px 50px;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlay {
  background: var(--bgcolor);
  height: 100vh;
  position: fixed;
  transition: var(--permanentAnimation);
  width: 100%;
  z-index: 3;
}

.overlayHidden {
  background: transparent;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
}

.menu {
  align-items: center;
  background: transparent;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 9;
}

.menuHidden ul a {
  transform: rotateX(90deg);
  transition-delay: 1s;
  transition: var(--permanentAnimation);
  visibility: hidden;
}

.menuHidden {
  z-index: -1;
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.menu li {
  list-style-type: none;
  padding-bottom: 100px;
}

.menu li:nth-child(2n) {
  padding-top: 50px;
}

.menu li:nth-child(3n) {
  padding-top: 100px;
}

.menu li a {
  background: var(--bgcolor);
  border: 3px solid var(--invertedBorder);
  box-sizing: border-box;
  color: var(--mainTextColor);
  display: block;
  height: 180px;
  padding: 20px;
  position: relative;
  text-decoration: none;
  transition: var(--permanentAnimation);
  width: 320px;
}

.menu li a:hover {
  border: 3px solid var(--mainContextColor);
  transform: translateY(-5px);
  transition: var(--permanentAnimation);
  visibility: visible;
}

.menuHidden ul a:hover {
  transform: rotateX(90deg);
}

.menu li a:focus {
  transform: rotateX(90deg);
  transition-delay: 0.5s;
}

.menu li a h2 {
  left: 10px;
  position: absolute;
  top: 10px;
  transform: rotate(-10deg);
}

.menu li a p {
  color: var(--mainTextColor);
  padding-left: 60px;
  padding-top: 30px;
}
.contacts {
  align-items: center;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  transition: var(--permanentAnimation);
  width: 100%;
  z-index: 10;
}

.contacts div {
  display: flex;
  gap: 10px;
}

.contacts h2 {
  color: var(--mainTextColor);
}

.contactsHidden {
  transform: rotateX(90deg);
  transition: var(--permanentAnimation);
}

.contacts div a svg path {
  transition: var(--permanentAnimation);
}

.contacts div a:hover svg path {
  fill: var(--mainContextColor);
}

.menuBtn {
  background: none;
  border: none;
  cursor: pointer;
  display: grid;
  gap: 3px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: fixed;
  right: 10px;
  top: 10px;
  transition: var(--permanentAnimation);
  z-index: 1000;
}

.menuBtn span {
  align-self: center;
  background: white;
  display: block;
  height: 8px;
  justify-self: center;
  transition: var(--permanentAnimation);
  width: 8px;
}

.menuBtn:hover span {
  background: var(--mainContextColor);
}

.menuBtnClose {
  gap: 0;
  transform: rotateZ(45deg);
}

.menuBtnClose .transparent {
  background: transparent;
}

.menuBtnClose:hover .transparent {
  background: transparent;
}
