.contentWrapper {
  margin-top: 60px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.contentWrapper > div {
  width: 40%;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
  position: relative;
}

.contentWrapper > div > svg {
  display: block;
  margin: auto;
  padding-right: 30px;
}

.contentWrapper > div > p {
  font-style: italic;
  text-indent: 20px;
  color: var(--mainTextColor);
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contentWrapper > div .thin {
  font-weight: 300;
  font-size: 22px;
}

.left {
  padding-top: 20px;
  text-align: right;
}

@media (max-width: 1100px) {
  .contentWrapper > div:first-child {
    width: 50%;
  }
}

@media (max-width: 850px) {
  .contentWrapper {
    flex-direction: column-reverse;
  }
  .contentWrapper > div:first-child {
    width: 80%;
  }
  .contentWrapper > div {
    width: 60%;
    margin-bottom: 20px;
  }
  .contentWrapper > div > p {
    font-size: 20px;
  }
}
