.contentWrapper {
  margin-top: 40px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.contentWrapper > div {
  width: 40%;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}

.contentWrapper > div > h2 {
  text-indent: 20px;
}

.contentWrapper > div > p {
  color: var(--mainTextColor);
}